@import "../../css/common"

.vpage
	user-select none
	bottom 0
	
A=720/320

size(width, height, orig=true)
	if orig
		width floor(width/A)
		height floor(height/A)
	else
		width width
		height height
			
@keyframes line
	0%
		top 3px
	50%
		top 89px
	100%
		top 3px
		
@keyframes up1
	0%
		height 0
	100%
		height 93px
		
@keyframes down1
	0%
		height 0
	100%
		height 174px
		
@keyframes icon3
	0%
		background-position-x -269px
	100%
		background-position-x 0
		
@keyframes bt
	0%
		transform scale(1)
	50%
		transform scale(1.1)
	100%
		transform scale(1)

#page-index
	background url(images/background.jpg)
	background-size 100% 100%
	
	.vpage-content
		min-width 320px
		margin 0
		
		img
			width 100%
			display block
			margin 0
		.top
			size 580px 320px
			background url(images/top.png)
			background-size @width @height
			margin 6px auto 0 auto
			z-index 2
			/*
			animation 1s bt infinite
			&:active
				background url(images/startbt-s.png)
				background-size @width @height
			*/
		.icon1
			size 600px 580px
			background url(images/icon1.png)
			background-size @width @height
			margin 0 auto 0 auto
			z-index 1
			.startbt
				size 125px 50px
				background url(images/startbt.png)
				background-size @width @height
				position absolute
				left 63%
				margin-left -(@width / 2)
				top 179px	
			.tiger
				size 150px*3 312px
				background-size @width @height
				vendor-property display box
				box-align center
				box-pack center
				position absolute
				left 50%
				margin-left -128px
				top 14px
				.machine
					size 150px 260px
					background #3A343F url(images/tiger-all2.png)
					background-size @width (@height*6)
					background-postion top center
					background-repeat repeat-y
					left 5%
					top 7px
					margin-left 9px
			.count
				size 180px 50px
				position absolute
				font-size 12px
				left 50%
				margin-left -(@width / 2)
				top 220px
				text-align center
				color #fff
		.bottom
			size 583px 110px
			background-size @width @height
			margin 0 auto 0 auto
			z-index 1
			vendor-property display box
			box-align center
			box-pack center
			.myAward
				size 190px 94px
				background url(images/4_03.png)
				background-size @width @height
				background-postion top center				
			.activityRules
				size 190px 94px
				background url(images/4_05.png)
				background-size @width @height
				background-postion top center
				margin-left (@width / 2 - 1)

.rules
	position fixed
	background rgba(0, 0, 0, 0.8)
	pos 0 0 0 0
	z-index 10000
	vendor-property display box
	box-align center
	box-pack center
	.rulesPanel
		size 620px 900px
		background url(images/rule.png)
		background-size @width @height
		.returnBt
			size 190px 94px
			background url(images/returnBt.png)
			background-size @width @height
			position absolute
			left 33%
			top 78%

.share
	position fixed
	background rgba(0, 0, 0, 0.8)
	pos 0 0 0 0
	z-index 10000
	vendor-property display box
	box-align center
	box-pack center
	.sharepanel
		size 620px 900px
		background url(images/sharepanel.png)
		background-size @width @height
		.close
			size 49px 49px
			background url(images/close.png)
			background-size @width @height
			position absolute
			right -6px
			top -6px
		.sharemark
			size 190px 94px
			background url(images/sharemark.png)
			background-size @width @height
			position absolute
			left 37%
			top 78%
		.sharemark2
			size 620px 900px
			background url(images/share-zhezhao.png)
			background-size 100% 100%

.winSection
	position fixed
	background rgba(0, 0, 0, 0.8)
	pos 0 0 0 0
	z-index 10000
	vendor-property display box
	box-align center
	box-pack center
	box-orient vertical
	.star
		size 620px 276px
		background url(images/star.png)
		background-size @width @height
	.prizeName1
		size 620px 356px
		background url(images/2-1.png)
		background-size @width @height
		margin-top 36px
	.prizeName2
		size 620px 356px
		background url(images/2-2.png)
		background-size @width @height
		margin-top 36px
	.prizeName3
		size 620px 356px
		background url(images/2-3.png)
		background-size @width @height
		margin-top 36px
	.prizeName4
		size 620px 356px
		background url(images/2-4.png)
		background-size @width @height
		margin-top 36px

	.winPanel
		size 620px 256px
		vendor-property display box
		box-align center
		box-pack center
		background-size @width @height
		box-orient horizontal
		margin-top 20px
		.myAward_2
			size 190px 94px
			background url(images/4_03.png)
			background-size @width @height
			margin-right (@width / 2)
		.repeatGame
			size 190px 94px
			background url(images/repeatGame.png)
			background-size @width @height
			//margin-left (@width / 2)

.failSection
	position fixed
	background rgba(0, 0, 0, 0.8)
	pos 0 0 0 0
	z-index 10000
	vendor-property display box
	box-align center
	box-pack center
	box-orient vertical
	.fail_1
		size 360px 310px
		background url(images/fail_1.png)
		background-size @width @height
	.fail_2
		size 620px 356px
		background url(images/fail_2.png)
		background-size @width @height
		margin-top 36px
	.failPanel
		size 620px 256px
		vendor-property display box
		box-align center
		box-pack center
		background-size @width @height
		box-orient horizontal
		margin-top 20px
		.fail_3
			size 190px 94px
			background url(images/fail_3.png)
			background-size @width @height
			margin-right (@width / 2)
		.fail_4
			size 190px 94px
			background url(images/fail_4.png)
			background-size @width @height
			//margin-left (@width / 2)		

.sub
	position fixed
	background rgba(0, 0, 0, 0.8)
	pos 0 0 0 0
	z-index 10000
	vendor-property display box
	box-align center
	box-pack center
	.subpanel
		size 620px 900px
		background url(images/sub.jpg)
		background-size @width @height
		.close
			size 49px 49px
			background url(images/close.png)
			background-size @width @height
			position absolute
			right -6px
			top -6px
		.subbt
			size 190px 94px
			background url(images/subbt.png)
			background-size @width @height
			position absolute
			left 37%
			top 78%


#page-prize
	background url(images/background.jpg)
	background-size 100% 100%
	//background rgba(0, 0, 0, 0.8)
	//background-size @width @height
	
	.vpage-content
		min-width 320px
		margin 0
		img
			width 100%
			display block
			margin 0
		.rule
			size 560px 100px
			background url(images/1_17.png)
			background-size @width @height
			margin 10px auto 0 auto
		
		.lottery100
			size 644px 118px
			background url(images/100.png)
			background-size @width @height
			margin 5px auto 0 auto
			.button100
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery100_1
			size 644px 118px
			background url(images/100_1.png)
			background-size @width @height
			margin 5px auto 0 auto
			
		.lottery1002
			size 644px 118px
			background url(images/100.png)
			background-size @width @height
			margin 5px auto 0 auto
			.button1002
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery100_2
			size 644px 118px
			background url(images/100_1.png)
			background-size @width @height
			margin 5px auto 0 auto
			
		.lottery1003
			size 644px 118px
			background url(images/100.png)
			background-size @width @height
			margin 5px auto 0 auto
			.button1003
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery100_3
			size 644px 118px
			background url(images/100_1.png)
			background-size @width @height
			margin 5px auto 0 auto
			
		.lottery1004
			size 644px 118px
			background url(images/100.png)
			background-size @width @height
			margin 5px auto 0 auto
			.button1004
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery100_4
			size 644px 118px
			background url(images/100_1.png)
			background-size @width @height
			margin 5px auto 0 auto
			
		.lottery1005
			size 644px 118px
			background url(images/100.png)
			background-size @width @height
			margin 5px auto 0 auto
			.button1005
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery100_5
			size 644px 118px
			background url(images/100_1.png)
			background-size @width @height
			margin 5px auto 0 auto
			
		.lottery300
			size 644px 118px
			background url(images/300.png)
			background-size @width @height
			margin 5px auto 0 auto
			.button300
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery300_1
			size 644px 118px
			background url(images/300_1.png)
			background-size @width @height
			margin 5px auto 0 auto	
		
		.lottery500
			size 644px 118px
			background url(images/500.png)
			background-size @width @height
			margin 5px auto 0 auto
			//z-index 2
			.button500
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery500_1
			size 644px 118px
			background url(images/500_1.png)
			background-size @width @height
			margin 5px auto 0 auto		

		.lottery1000
			size 644px 118px
			background url(images/1000.png)
			background-size @width @height
			margin 5px auto 0 auto
			//z-index 2
			.button1000
				size 125px 43px
				background url(images/3.png)
				background-size @width @height
				position absolute
				right 2%
				margin-left - (@width / 2 - 1)
				top 16px
		.lottery1000_1
			size 644px 118px
			background url(images/1000_1.png)
			background-size @width @height
			margin 5px auto 0 auto
			
.lotteryPanel
	size 560px 100px
	background-size @width @height
	margin 5px auto 0 auto
	top 80%
	//z-index 2
	.backbt
		size 196px 94px
		background url(images/returnBt.png)
		background-size @width @height
		position absolute
		left 26%
		margin-left -(@width / 2 - 1)
		top 30px
	.detail
		size 196px 94px
		background url(images/detail.png)
		background-size @width @height
		position absolute
		right 11%
		margin-left -(@width / 2 - 1)
		top 30px
	.backLottery
		size 196px 94px
		background url(images/backLottery.png)
		background-size @width @height
		position absolute
		right 11%
		margin-left -(@width / 2 - 1)
		top 30px
		

.prizeRules
	size 650px 900px
	background url(images/1_17.png)
	background-size @width @height
	margin -40px auto 0 auto
	